#{extends 'main.html' /}

<link rel="stylesheet" href="../../../public/stylesheets/aboutBfline.css">


<section  id="aboutBflineHeader">
    <div class="container-fluid">
        <h1><div>Что</div> такое BF<span></span></h1>
    </div>
</section>

<section id="bflineInfo">
        <div class="container-fluid" id="infoRow">
            <div class="row">
              <div class="col-sm">
                <h2>Сопутствующая Информация</h2>
              </div>
              <div class="col-sm">
                <div class="infoText">Превенция суицида несовершенолетних</div>
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
              </div>
              <div class="col-sm">
                <div class="infoText">Что мы делаем</div>
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
              </div>
              <div class="col-sm">
                <div class="infoText">Литература и тренинги</div>
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
              </div>
            </div>
          </div>
</section>

 <section id="bflineDefinition">
  <div class="container-fluid">
    <p>
      <span class="greenText">BFLine</span> – это служба психологической поддержки. Психологи <span class="greenText">BFLine</span> хотят связаться с вами, чтобы понять, почему иногда мысли о самоубийстве могут возникнуть и долгое время присутствовать. Они также хотят предоставить вам безопасное пространство для разговора обо всем, что происходит в вашей жизни, что может повлиять на вашу или чью-либо способность оставаться в безопасности.
    </p>
  </div>
</section> 

<section id="bflineGoals">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm goalDescription" id="goalDescription1">
        <div class="goalHeading">
          <h2>Для подростков в возрасте до 18 лет, испытывающих мысли самоубийстве.</h2>
        </div>
        <div class="goal">
          <h3>Молодые люди</h3>
        <p>Все наши психологи обучены, чтобы помочь вам сосредоточиться на безопасности от самоубийства. 
          Их обучение позволяет им предоставлять консультацию и поддержку, которые могут помочь вам двигаться вперед и оставаться в живых.
        </p>
        </div>
      </div>
      <div class="col-sm goalDescription" id="goalDescription2">
        <div class="goalHeading">
          <h2>Для всех, кто обеспокоен тем, что рядом есть подросток, который может думать о самоубийстве.</h2>
        </div>
        <div class="goal" id="goal2">
          <h3>Люди, которые вызывают у вас тревогу</h3> 
          <p>
  
  Если вы обеспокоены тем, что рядом подросток чувствует себя подверженным самоубийству, психологи могут поддержать вас, чтобы начать разговор о самоубийстве и изучить варианты, как лучше всего поддержать такого подростка.
          </p>
        </div>
       
      </div>
    </div>
  </div>
</section>

<section id="bflineContacts">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <div class="contactsItem d-flex flex-column justify-content-center">
          <h2>Связаться с BFLine</h2>
          <p>Если у вас есть мысли о самоубийстве или вы беспокоитесь о ком-то, у кого могут мыть суицидальные мысли, вы можете связаться с BFLine для получения конфиденциальной поддержки и практических советов.</p>
        </div>
      </div>
      <div class="col-sm">
        <div class="contactsItem d-flex flex-column justify-content-center">
         <h3><i class="fa fa-phone" aria-hidden="true"></i>Звоните: +777 777 77 77</h3>
         <h3><i class="fa fa-whatsapp" aria-hidden="true"></i>Текст на ватсап: цццц</h3>
         <h3><img src="/images/sprites/icons/msgIcon.svg"></img>Электронная почта: bf@bilimqory.kz</h3>
         <h3 class="d-flex"> 
              <img src="/images/sprites/icons/timeIcon.svg"></img>
              Часы работы:
              <div class="" id="holidayTime">
                <div class="mb-2">9:00-18:00 в будние дни</div> 
                <div>9:00-12.00 по выходным</div>
              </div>     
         </h3>
         <h3 class="d-flex"><img src="/images/sprites/icons/twoPersonIcon.svg"></img>Наши психологи по предотвращению самоубийств готовы поддержать вас.</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="bflineVideo">
  <div class="container-fluid">
    <div class="row">
      <div class="col col-sm-5 bflineVideoItem" id="bflineVideoItem1">
        <div id="videoText">
          <p>Опытные психологи BFLine хотят работать и поддержать молодых людей, оказавшихся в трудной жизненной ситуации. Также служба BFLine доступна для всех, кто обеспокоен тем, что рядом подросток может непрерывно думать о самоубийстве.</p>
        </div>
      </div>
      <div class="col-sm bflineVideoItem"  id="bflineVideoItem2">
        <div id="video">
          <iframe  
          src="https://www.youtube.com/embed/XEfDYMngJeE" 
          title="Прекрасная успокаивающая музыка • Норвежская природа и музыка, исполняемая на скрипке, флейте" 
        
          allowfullscreen>
          </iframe>

        </div>
      </div> 
    </div>
  </div>
</section>

<section id="contactUs">
  <div class="container-fluid">
    <div class="contactForm">
      <h2>Свяжитесь с нами</h2>
      <form action="#">
        <button type="submit">Оставить заявку</button>
      </form>
    </div>
  </div>
</section> 